/*GENERAL */

h2,
h3 {
    color: #555;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.full-width {
    width: 100% !important;
}

.transparent {
    background: rgba(0, 0, 0, 0);
}

.underline:after {
    content: '';
    display: block;
    height: 6px;
    width: 50px;
    margin-top: 5px;
}

.underline-middle:after {
    margin: 0 auto;
    width: 139px;
    margin-top: 10px;
    position: relative;
}

.horizontal-separator:before {
    content: '';
    display: block;
    height: 1px;
    width: 139px;
    background: rgba(40, 167, 233, 0.26);
    margin: 60px auto 0 auto;
}


.grey {
    color: #9e9e9e;
}

.blue {
    color: #28a7e9;
}

.orange {
    color: #ffc107;
}

.green {
    color: rgba(0, 212, 46, 0.78);
}

.underline-grey:after {
    background: #9e9e9e;
}

.underline-blue:after {
    background: #28a7e9;
}

.underline-orange:after {
    background: #ffc107;
}

#feature p {
    padding-top: 7px;
}

p {
    margin: 0 0 7px;
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

.width-30 {
    width: 30%;
}

.width-50 {
    width: 50%;
}

.width-70 {
    width: 70%
}

.width-90 {
    width: 90%;
}

.width-800 {
    max-width: 800px;
}

.narrow-column {
    max-width: 800px;
}

.fa-map-marker,
.fa-envelope-o{
    position: absolute;
    top: -6px;
}

.fa-phone {
    position: absolute;
    top: 5px;
}

/*GENERAL END*/

.navbar-brand-wrapper {
    float: left;
    display: flex;
    align-items: center
}

.navbar-brand {
    float: none;
    padding: 0 0 0 0;
    margin-left: 0 !important;
    max-width: 200px;
    display: flex;
    align-items: center;
    font-size: 16px !important;
    line-height: normal !important;
    font-family: 'Monda', sans-serif;
    letter-spacing: 2px;
}

.brand-logo {
    padding-right: 10px;
    font-size: 48px;
    color: #666;
    height: 70px;
    line-height: 70px;
}

#home {
    background: url(../images/home-bg14.jpg) no-repeat;
    height: 700px;
    background-position: center top;
    background-size: cover;
}

.overlay {
    position: relative;
    background: rgba(0, 0, 0, 0);
}

.banner-container {
    position: absolute;
    left: 0;
    bottom: 190px;
    margin-left: -15px;
    width: 700px;
}

.banner-bg {
    background: rgba(0,0,0,0.7);
    float: left;
    width: 100%;
}

.banner-bg span {
    display: block;
}

.banner-catch-phrase {
    font-weight: 100 !important;
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    font-style: normal !important;
    max-width: 560px;
    line-height: 1.3em !important;
    color: #eee;
    margin-top: 7px;
    margin-right: auto;
    margin-left: auto;
}

.icon-container {
    max-width: 60px;
    margin: 0 auto;
}

/* DIVIDER */
#divider {
    padding-top: 60px;
    padding-bottom: 80px;
}

#divider p {
    margin-left: auto;
    margin-right: auto;
}

.custom-button {
    display: inline-block;
    padding: 6px 14px;
    border-radius: 2px;
    border: none;
    position: relative;
    top: 35px;
    font-size: 13px;
    color: #fff;
    background: rgba(0, 212, 46, 0.5);
    font-weight: 400;
    letter-spacing: 1px;
}

.custom-button:hover,
.custom-button:focus {
    background: rgba(0, 212, 46, 0.78);
    text-decoration: none;
    color: #fff;
}

.divider-container p {
    max-width: 333px;
    letter-spacing: 0.5px;
}
/** DIVIDER END **/

/* CS BLOCK */

#feature {
    padding-top: 60px;
    padding-bottom: 60px;
}

.play-icon {
    background: initial !important;
    color: #666 !important;
    position: absolute;
    top: calc(50% - 20px);
    font-size: 40px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto !important;
}


.cs h2 {
    text-align: center;
}

.cs p {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}

.sc-pic-container {
    top: 70px;
}

.jobs-list {
    margin-left: auto;
    margin-right: auto;
}

.block-article {
    padding-top: 40px;
}

.block-article p {
    padding-top: 0 !important;
    margin-bottom: 5px;
    text-indent: 50px;
    line-height: 2;
    letter-spacing: 0.5px;
}

.img-overlay {
    display: block;
    max-width: 358px;
    top: 16px;
    left: 72px;
    border-radius: 2px;
}

.img-overlay-wrapper::after {
    position: absolute;
    top: 253px;
    left: 63px;
    display: block;
    content: '';
    width: 375px;
    height: 10px;
    background: #000;
}

.cs-pic-container {
    float: right;
}

.cs ul {
    padding-left: 0;
    position: relative;
}

.cs li {
    list-style: none;
    width: 33.33%;
    float: left;
    margin-top: 10px;
}

.microscope {
    position: relative;
    background: #28a7e9;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-right: 20px;
    float: left;
}

.microscope:before {
    display: block;
    background-size: contain;
    background: url(../images/lab-microscope.png);
    content: '';
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    position: absolute;
    top: 9px;
    left: 11px;
    background-size: contain;
}

.bio {
    float: none;
    position: relative;
    top: 7px;
}

/** CS BLOCK END **/

/* PYTHON BLOCK */
#python {
    padding-top: 60px;
    padding-bottom: 60px;
}

.python-container p {
    letter-spacing: 0.5px;
    line-height: 2;
}

.python-pic-container {
    display: none;
}
/** PYTHON BLOCK END**/

/*ROBOT BLOCK*/
#robots {
    background: #f8f8f8;
    padding-top: 60px;
    padding-bottom: 60px;
}

.designed-robot-feature {
    position: relative;
    padding: 60px 0;
}

.designed-robot-bg {
    position: absolute;
    right: -200px;
    top: -111px;
    opacity: 0.5;
    display: none;
}

.designed-robot-bg img {
    max-height: 350px;
}

.feature-list {
    position: relative;
    left: 50px;
}

.robot-text-block_left {
    border-right: 1px solid rgba(40, 167, 233, 0.26);
    padding-right: 10px;
    margin-right: 10px;
}

.robot-block p {
    padding-top: 0 !important;
    margin-bottom: 5px;
    text-indent: 50px;
    line-height: 2;
    letter-spacing: 0.5px;
}

.robot-block h2 {
    margin-bottom: 20px;
}

.robot-first-block__pic-container {
    display: flex;
    flex-direction: row-reverse;
}

.robot-second-block {
    padding-top: 60px;
}

.robot-first-block > div,
.robot-second-block {
    display: flex;
    align-items: center;
}

.robot-second-block .robot-text-container {
    border-left: 1px solid rgba(40, 167, 233, 0.26);
    padding-left: 20px;
}

.robot-second-block .robot-pic-container {
    top: 0;
}

.robot-pic-container {
    position: relative;
    top: 30px;
    left: -15px;
}

.designed-robot-container h2{
    text-align: center;
}

.cs p,
.designed-robot-container p{
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 0;
    font-size: 20px;
    font-weight: 400;
}

.designed-robot-container ul {
    width: 30%;
    float: left;
    position: relative;
    padding-left: 0px;
}

.designed-robot-container.features ul {
    width: 50%;
    margin-right: 0px;
}

.designed-robot-container.features p {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.designed-robot-container.features .fa {
    position: relative;
    top: 5px;
    font-size: 30px;
    margin-right: 20px;

    /* probably to be removed*/
    width: 40px;
    height: 40px;
    border-radius: 2px;
    text-align: center;
    line-height: 40px;
}

.robot-pic-responsive {
    display: none;
}

.jobs-list li,
.designed-robot-container li{
    list-style-type: none;
    font-size: 18px;
    padding: 10px 0;
}

.designed-robot-container .column li {
    padding-left: 70px;
}

.tick {
    padding-right: 10px;
    margin-top: -10px;
}
/*ROBOT BLOCK END*/

.address,
.email {
    display: block;
    margin-left: 55px;
}

.phones {
    width: 300px;
    display: inline-block;
    line-height: 1.5;
    top: -3px;
    margin-left: 55px;
}

.phones span {
    display: block;
}

.form-control {
    border-radius: 2px  !important;
}

#contact input {
    height: 40px;
}

.white {
    color: white;
}

address {
    font-size: 16px;
}

address .fa {
    margin-top: 0 !important;
}

address > div {
    padding-bottom: 20px
}

#contact .contact-form {
    padding-top: 66px;
}

#contact {
    background: url('../images/bg3.jpg');
    color: #ddd;
}

.contact-form input,
.contact-form textarea {
    color: white;
    background: rgba(255,255,255,.1);
}

/** Responsive **/
@media (min-width: 768px) {
    .container {
        width: 700px;
    }
}

@media (min-width: 990px) {
    .container {
        width: 850px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1106px;
    }
}

@media (max-width: 991px) {
    #home {
        background: url(../images/home-bg9.jpg) no-repeat;
        height: 500px;
        background-position: center top;
        background-size: cover;
    }

    .navbar-brand {
        display: none;
    }

    .banner-container {
        position: absolute;
        right: 0;
        left: initial;
        bottom: 104px;
        margin-right: -15px;
        margin-left: inherit;
        width: 600px;
    }

    .banner-catch-phrase {
        font-size: 30px;
    }

    .custom-button {
        margin-bottom: 50px;
    }

    .divider-container p {
        max-width: 400px;
    }

    #feature {
        margin-top: -50px;
    }

    .cs-pic-container {
        display: none;
    }

    .python-container img {
        display: none;
    }
}

@media (min-width: 1300px) {
    .designed-robot-bg {
        display: block;
    }
}

@media (max-width: 767px) {
    .brand-logo {
        margin-left: 15px;
    }
    .navbar-brand {
        display: flex;
    }

    #home {
        height: 400px;
    }

    .banner-container {
        bottom: 100px;
        width: 400px;
    }

    .banner-catch-phrase {
        font-size: 23px;
    }

    .cs li {
        width: 50%;
    }

    .cs-pic-container {
        display: block;
        float: none;
        max-width: 80%;
        margin: -20px auto 30px;
    }

    .python-pic-container {
        display: block;
        max-width: 80%;
        height: auto;
        margin: 30px auto;
    }

    .python-pic-container img {
        display: block;
    }

    .robot-pic-responsive {
        display: block;
        width: 100%;
    }

    .robot-pic-responsive {
        max-width: 350px;
        margin: 30px auto;
    }

    .robot-first-block__pic-container {
        display: block;
    }

    .robot-first-block__pic-container .robot-pic {
        display: none;
    }

    .robot-first-block__pic-container > div {
        width: 100%;
    }

    .robot-text-block_left {
        border: none;
    }

    .robot-second-block .robot-text-container {
        border: none;
    }

    .robot-second-block {
        display: block;
    }

    .robot-second-block > div{
        width: 100%;
    }

    .robot-second-block .robot-pic-container {
        max-width: 290px;
        margin: 0 auto;
        left: 0;
        margin-bottom: 30px;
    }


    .designed-robot-container.features ul {
        width: 100%;
    }

    .designed-robot-container .column li {
        padding-left: 0;
    }

    .designed-robot-container.features ul {
        margin-bottom: 0px;
        margin-left:30px;
    }

    #contact .contact-form {
        padding-top: 30px;
    }

    .form-name,
    .form-email,
    .form-submit {
        width: 50%;
    }

    .form-name {
        float: left;
    }
    .form-email {
        float: right;
    }

    .cs ul {
        width: 575px;
        left: 70px;
    }

    .robot-second-block .robot-pic-container {
        margin: -30px auto 30px;
    }
}

@media (max-width: 575px) {
    .brand-logo {
        font-size: 28px;
    }

    .navbar-brand {
        font-size: 12px !important;
        font-stretch: initial;
        letter-spacing: 0.5px;
    }

    #home {
        height: 292px;
        background-position: inherit;
    }

    .banner-catch-phrase {
        font-size: 18px;
    }

    .banner-container {
        bottom: 55px;
        width: 300px;
    }

    #divider {
        padding-top: 30px;
        padding-bottom: 40px;
    }

    #feature {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-top: -30px;
    }

    h2 {
        font-size: 20px;
    }

    .cs p, .designed-robot-container p {
        font-size: 16px;
    }

    .cs ul {
        left: 0;
    }

    .cs li {
        width: 100%;
    }

    .cs p, .designed-robot-container p {
        padding: 0;
    }

    #feature .fa {
        width: 25px;
        height: 25px;
        line-height: 25px;
        margin-right: 10px;
    }

    .jobs-list li, .designed-robot-container li {
        font-size: 16px;
        padding: 5px 0;
    }

    .cs-pic-container {
        max-width: 100%;
        padding: 0 15px;
    }

    .block-article {
        padding-top: 20px;
    }

    #python {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .python-pic-container {
        max-width: 100%;
        padding: 0;
    }

    #robots {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .robot-pic-responsive {
        max-width: 300px;
        margin: 30px auto;
    }

    .robot-second-block .robot-pic-container {
        max-width: 270px;
        margin: 0 auto;
        left: 0;
        margin-bottom: 30px;
    }

    .robot-second-block {
        padding-top: 30px;
    }

    .designed-robot-container ul {
        width: 100%;
    }

    .feature-list {
        margin-top: 20px;
        left: 0px;
    }

    .tick {
        max-width: 25px;
        margin-top: 0;
    }

    .designed-robot-bg img {
        max-height: 250px;
    }

    .designed-robot-bg {
        position: absolute;
        right: -93px;
        top: 95px;
        opacity: 0.2;
        height: 180px;
        display: none;
    }

    .horizontal-separator:before {
        margin-top: 30px;
    }

    .designed-robot-container.features ul {
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .designed-robot-container.features ul:first-child {
        margin-top: 20px;
    }

    .designed-robot-container.features .fa {
        height: 25px;
        line-height: 25px;
        width: 25px;
        margin-right: 15px;
        font-size: 25px;
        top: 3px;
    }

    .designed-robot-feature {
        padding: 30px 0;
    }

    .designed-robot-container.features p {
        padding-top: 20px;
    }

    #contact .overlay {
        padding-top: 30px;
    }

    .overlay .transparent {
        padding-bottom: 30px;
    }

    .form-name,
    .form-submit,
    .form-email {
        width: 100%;
    }


    .microscope,
    #contact address .fa {
        height: 25px;
        width: 25px;
        line-height: 25px;
        margin-right: 10px;
    }



    .microscope:before {
        height: 17px;
        width: 20px;
        top: 3px;
        left: 4px;
        background-size: contain;
    }

    #contact address .fa:before {
        font-size: 16px;
    }

    #contact .contact-form {
        padding-top: 15px;
    }

    .underline-middle:after {
        width: 90px;
    }

    .block-article p,
    .python-container p,
    .robot-block p {
        text-indent: 30px;
        line-height: 1.8;
        letter-spacing: 0.3px;
    }

    .navbar-brand {
        max-width: 170px;
    }

    .address,
    .email,
    .phones {
        margin-left: 40px;
    }

    .fa-map-marker, .fa-envelope-o {
        top: 0px;
    }

    .designed-robot-bg {
        display: block;
    }

    .bio {
        top: 1px;
    }

}